body{
  margin: 0;
}
.App{
  background-color: #E6E6E6;
  height: 100vh;
  display: grid;
  place-items: center;
}

.container{
  background-color: white;
  box-shadow: 4px 4px 15px 4px rgba(0, 0, 0, 0.15), -4px -4px 20px 4px rgba(255, 255, 255, 0.2);
  width: 100%;
  max-width: 400px;
  padding: 10px;
}

.monitor{
  background-color: #F6F6F6;
  text-align: right;
  padding: 20px;
}

.input-data{
  font-size: 20px;
}

.result{
  font-size: 35px;
  font-weight: bold;
}

.input-button{
  display: grid;
  padding-top: 10px;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
}

.input-button button{
  height: 80px;
  border: none;
  background-color: #E8E8E8;
  font-size: 40px;
}

.red{
  color: red;
}

.green{
  color: green;
}

.red , .green{
  background-color: #C5C5C5;
}